.header{
  background-color: blue;
  padding-left: 30px;
}
.Support-div{
  text-align: left;
  padding-left: 10px;


}

.navbar{

  display: flex;

text-decoration: none;
list-style: none;

}
.News{
  color: white;
  padding-right: 70px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
 font-size: larger;
  
}
.subsnavbar{
  padding-right: 10px;
}
.contribute{
  padding-right: 20px;
  background-color: yellow;
  border-radius: 80%;
  padding:10px 10px 10px 10px;
  text-decoration: none;

}
.Support-text1{
  color: yellow;
}
.Support-text2{
color:white
}


