.header{
  background-color: blue;
  padding-left: 30px;
}
.Support-div{
  text-align: left;
  padding-left: 10px;

}

.navbar{

  display: flex;

text-decoration: none;
list-style: none;

}
.News{
  color: white;
  padding-right: 10px;
  
}
.subsnavbar{
  padding-right: 10px;
}
.contribute{
  padding-right: 10px;
  background-color: yellow;
  border-radius: 50%;

}


